.city {
    background-color: lightgray;
    color: white;
    border: 2px solid black;
    margin: 10px;
    padding: 10px
}

#header {
    margin: 0 auto;
    background: blue;
}

#wrap {
    margin: 0 auto;
    overflow: hidden;
}

#aside {
    width: 20%;
    float: left;
    background: blue;
}

#content {
    width: 80%;
    float: left;
    background: green;
}